/* General stuff. */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  padding-top: 40px;
  background-color: #f5f5f5;
}

h1 { font-weight: 400; font-size: 35px; }
h2, h3 { font-weight: 400; }
/*
span.ok { color: green; }
span.error { color: red; }
*/

/* Login screen. */
.form-signin {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
/*
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
*/
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* Flatten dropdown menus. */
/*
.dropdown-menu { border-radius: 0; box-shadow: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #333; color: white; background-image: none; }
*/

/* Page headers. */
.page-header { margin: 30px 0 20px; border-bottom: none; }
.page-header:after {
  content: "";
  display: table;
  clear: both;
}

.calendar { display: inline-block; padding: 10px 15px; background: #333; color: white; }

/* Flatten navigation menu and other mods. */
/*
.navbar .brand { width: 180px; }
.navbar-inverse .navbar-inner { background: #333; border: none; font-size: 13px; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { box-shadow: none; }
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus { box-shadow: none; text-shadow: none; }
*/
.navbar-inverse .nav>li>a:hover { background: #0d0d0d; }
.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus { background: #f5f5f5; color: #333; }
.navbar-inverse .navbar-brand, .navbar-inverse .nav>li>a { color: #FFF; text-shadow: none; }

@media (min-width: 979px) {
  .container-fluid { max-width: 1024px; margin: 0 auto; }
  /* Visible sidebar on larger devices. */
  /*
  #sidebar { width: 200px; height: 100%; background: #eee; position: absolute; top: 0; }
  #sidebar a { padding: 5px 20px 5px 26px; display: block; color: #333; font-size: 13px; }
  #sidebar a:hover { text-decoration: none; background: #ddd; }
  #sidebar .toggle-subnav { font-size: 18px; margin: 5px 10px 10px; padding: 0; }
  #sidebar .toggle-subnav:hover { background: none; }
  .subnav.subnav-hidden .subnav-menu { display: none; }
  #content { margin-left: 200px; }
  */

}


/* Larger devices. */
/*
@media (max-width: 979px) {
  .navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a { color: #333; font-weight: 400; }
  .navbar .nav>li>a { text-shadow: none; }
  .navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus { background: white !important; color: #333 !important; }
  #sidebar { display: none; }
  .calendar { display: none; }
  .updateTime { display: none; }
}
*/

/* When the sidebar is hidden. */
#sidebar.hidden { display: none; }
#content.noSidebar, #main.noSidebar { margin: 0; padding: 0; }
#nav.noSidebar .navbar .brand { width: auto; }

/* Flat boxes. */
.warning { color: orange; }
.error { color: red; }

.box-outer { margin-bottom: 15px; }
.box { border: solid 2px gray; }
.box-header { padding: 10px;  font-weight: 600; color: white; background: gray; }

.box.green { border-color: green; }
.box.green .box-header { background: green; }
.box.orange { border-color: #ff9000; }
.box.orange .box-header { background: #ff9000; }
.box.red { border-color: #ac1d1d; }
.box.red .box-header { background: #ac1d1d; }

.box-content { padding: 10px; }
[class^="glyphicon-"], [class*=" glyphicon-"] { margin-top: 3px; }

.rightMargin { margin-right: 15px; }
/*
.noMargin { margin: 0; }
*/

i { margin-right: 2px; }
