html {
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1em;
}

body {
  height: 100%;
  margin: 20px;
  padding: 0px;
}

a { color: blue; text-decoration: none; }
a:hover { text-decoration: underline; }

.example {
  margin-left: 20px;
}

.example {
  background: #e0e0e0;
  margin-right: 20px;
}

.warning {
  color: red;
  font-weight: bold;
}

.ex-request {
  /* border-right: solid 1px; */
}

.ex-response {
  border-left: solid 1px;
}

.textarea-json {
  font-family: monospace;
  margin-bottom: 20px;
}

.input-parameter {
  font-family: monospace;
  margin-bottom: 20px;
}

div#toc {
  background: #f5f0f0;
}

ul .api-details {
  font-family: monospace;
}

ul .api-details .data {
  font-family: monospace;
  font-weight: bold;
}

table, th, td {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px; 
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 1px;
  background: #000;
  width: 35%;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
